<html>
  <head>
    <title>PlaceDog.com - The Dog Lovers Placeholder Art</title>

    <meta name="description" content="Dog-themed placeholder images for developers">
    <meta name="author" content="Jon Gaudette (http://digital-drip.com)">
    <meta name="keywords" content="dogs, placeholders, images, doggies, doggie">
    <meta name="copyright" content="Jon Gaudette. Images &copy; people of the internets">
    <meta name="robots" content="all">
    <meta name="viewport" contentkittenstent="width=device-width; initial-scale=1.0;">

    <link rel="stylesheet" type="text/css" href="/css/style_dark.css" />
  </head>
  <body>
    <!-- WRAPPER -->
    <div id="wrapper">

      <!-- CONTAINER -->
      <div id="container">

        <!-- TITLE -->
        <div id="title">
          <h1>Placeholder DOGS</h1>
        </div>
        <!-- /TITLE -->

        <!-- LEFT SIDE -->
        <div id="left_side">
          <p>Dogs are <a href="http://www.placekitten.com">so superior to felines</a>. Just choose your dimensions
          in the pathname and share the doggie love on your projects.</p>
          <ul>
            <li><a href="http://placedog.com/400/300">http://placedog.com/400/300</a></li>
            <li><a href="http://placedog.com/g/400/300">http://placedog.com/g/400/300</a></li>
          </ul>
        </div>
        <!-- /LEFT SIDE -->

        <!-- RIGHT SIDE -->
        <div id="right_side">
          <img src="/300/200" />
        </div>
        <!-- /RIGHT SIDE -->

        <!-- SUBSCRIBE FORM -->
        <div id="subscribe">
          <img src="/628/30" />
        </div>
        <!-- /SUBSCRIBE FORM -->

      </div>
      <!-- CONTAINER -->

      <!-- FOOTER -->
      <div id="footer">
        <p>&copy; <?php echo date('Y',time());?> - All Right Reserved</p>
      </div>
      <!-- FOOTER -->

    </div>

    <!-- Piwik -->
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.digital-drip.com/" : "http://stats.digital-drip.com/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script><script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
</script><noscript><p><img src="http://stats.digital-drip.com/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Tag -->

  </body>
</html>
