<html>
  <head>
    <title>PlaceDog.com - The Dog Lovers Placeholder Art</title>

    <meta name="description" content="Dog-themed placeholder images for developers">
    <meta name="author" content="Jon Gaudette (http://digital-drip.com)">
    <meta name="keywords" content="dogs, placeholders, images, doggies, doggie">
    <meta name="copyright" content="Jon Gaudette. Images &copy; people of the internets">
    <meta name="robots" content="all">
    <meta name="viewport" contentkittenstent="width=device-width; initial-scale=1.0;">

    <link rel="stylesheet" type="text/css" href="/css/style_dark.css" />
  </head>
  <body>
    <!-- WRAPPER -->
    <div id="wrapper">

      <!-- CONTAINER -->
      <div id="container">

        <!-- TITLE -->
        <div id="title">
          <h1>Placeholder DOGS</h1>
        </div>
        <!-- /TITLE -->

        <!-- LEFT SIDE -->
        <div id="left_side">
          <p>Dogs are <a href="http://placekitten.com">so superior to felines</a>. Just choose your dimensions
          in the pathname and share the doggie love on your projects.</p>
          <p>&nbsp;</p>

          <h2>Try It Out!</h2>
          <ul>
            <li><a href="http://placedog.com/400/300">http://placedog.com/400/300</a></li>
            <li><a href="http://placedog.com/g/400/300">http://placedog.com/g/400/300</a></li>
          </ul>
        </div>
        <!-- /LEFT SIDE -->

        <!-- RIGHT SIDE -->
        <div id="right_side">
        </div>
        <!-- /RIGHT SIDE -->


      </div>
      <!-- CONTAINER -->

      <!-- FOOTER -->
      <div id="footer">
        <p>&copy; 2011 <a href="http://digital-drip.com">Jon Gaudette</a> - All Right Reserved</p>
      </div>
      <!-- FOOTER -->

    </div>

    <% if ENV['RACK_ENV'] == 'production' %>
      <!-- insert custom tracking software here -->
    <%end %>

  </body>
</html>
