/*//////////////////////////////

/	Coming Soon 
/	Copyright 2011 - All Right Reserved
/	By EvoGraphics.net
/	CSS Style

//////////////////////////////*/

@import "reset.css";

body { background: url(/images/bg_dark.jpg) repeat #121212; color:#ababab; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
a { color: red; }
a.visited { color: red; }

#wrapper { background: url(/images/background_dark.png) no-repeat; width: 820px; height: 520px; margin: 100px auto; overflow: hidden; }

#container { width: 630px; height: 355px; margin: 20px; padding: 75px; padding-bottom: 0; margin-bottom: 0; overflow: hidden; }

#container #title { width: 630px; height: 50px; float: left; }

#container #title h1 { font-size: 34px; font-weight: 100; color: #0070cc; }

#container #right_side, #container #left_side { width: 290px; min-height: 180px; padding-top: 10px; margin-bottom: 20px; }

#container #left_side { float: left; }

#container #left_side p { font-size: 16px; line-height: 36px; text-align: justify; font-weight: 200; }

#container #right_side { float: right; }

#container #right_side h2 { font-size: 26px; font-weight: 100; color: #0070cc; text-align: right; margin-bottom: 25px; }

#container #right_side #twitter_update_list { display: none; }

#container #right_side #twitter_update_list li { font-size: 14px; line-height: 28px; text-align: justify; font-weight: 200; }

#container #right_side #twitter_update_list li a { color: #0070cc; text-decoration: none; }

#container #right_side #twitter_update_list li a:hover { text-decoration: underline; }

#container #subscribe { width: 628px; height: 30px; background: url(/images/bg_subscribe_dark.jpg) repeat-x #252628; float: left; border: 1px solid #000; padding: 10px; }

#container #subscribe input[type=text] { background: url(/images/bg_subscribe_dark.jpg) repeat-x #252628; border: 0; float: left; height: 30px; width: 470px; color: #ababab; font-weight: 100; font-size: 16px; line-height: 30px\9; /*For IE8 and below*/ }

#container #subscribe input[type=submit] { float: right; width: 90px; height: 30px; border: 0; background: url(/images/btn_subscribe_dark.png); }

#container #subscribe .loader { float: right; margin: 7px 10px 0 0; display: none; }

#footer { width: 760px; height: 30px; padding: 10px; margin: 0 21px; }

#footer p { line-height: 30px; font-size: 12px; text-align: right; color: #8b8b8b; }
